*~
*.conf
*.dylib
*.o
*.lo
*.la
*.deps
*.libs
*.cache
Makefile
ltfs/distribution
ltfs/src/ltfs
ltfs/src/utils/ltfsck
ltfs/src/utils/mkltfs
ltfs/src/utils/unltfs
stamp-h1
libtool
config.h
config.log
config.status
